<h1 id="rudra">Rudra</h1>



<h4 id="rudra-an-adaptable-web-server">Rudra - an adaptable web server.</h4>

<p>Rudra is a light weight web server designed for handling high volumes of upload and download requests. It has the capability to be adaptable to </p>

<ul>
<li>available memory (detailed in RunModes Section) and </li>
<li>CPU usage ( detailed in Dynamic Threading Section).</li>
</ul>

<p>It uses Apache Maven for builds, unit testing and integration testing.</p>

<h5>Disclaimer </h5>
<p>Above license is valid for personal and informational usage. Additionally, for commercial usage a commercial license is required.</p>

<h2 id="requirements">Requirements</h2>

<ul>
<li>The Server is a Java based application and requires a JRE 1.7 [minimum version] installation to run.</li>
<li>Server does not have any constraints on the minimum runtime memory allocations, but if heap memory allocated is less than 256 MB, performance improvements are restricted. The server is fully functional even with lower memory allocation.</li>
</ul>



<h2 id="features">Features</h2>

<ul>
<li>Supports HTTP 1.0 and 1.1.</li>
<li>Supports basic request parameter parsing.</li>
<li>Allows requests only under configured root directory for public usage.</li>
<li>OOTB implementations for GET, HEAD, POST, PUT and OPTIONS. Methods can be implemented/customized easily by adding implementation classes.</li>
<li>OOTB support for HTML and JSON. Response formats can also be added/customized by adding implementation classes.</li>
<li>Persistent connections support for clients supporting the behaviour, allowing multiple requests to be served over a single http (socket) connection.</li>
<li>For a request to a directory path, by default, the server sends configured HTML file. If there is no HTML file configured, server uses a fallback HTML to be sent in response. If a response format is requested in the request, the request is delegated to the corresponding response builder for handling.</li>
</ul>

<h2 id="highlights">Highlights</h2>

<p>There are several unique features that Rudra has. Some important one’s are listed below : </p>

<p><em>Loosely coupled implementation</em></p>

<ul>
<li>Most of the implementation is de-coupled from the core implementation and thus is customizable (details in #Customization Section).</li>
</ul>

<p><em>Plug and Play architecture</em></p>

<ul>
<li>The server is open to new enhancements and has an extendible plug and play model. New classes/improvements can be plugged in. To name a few : <br>
<ul><li>Requests and response interceptor filter classes can be plugged in via configurations.</li>
<li>New request methods may be plugged in simply via configurations.</li>
<li>Response formats are pluggable. OOTB JSON and HTML are provided. A new format support can be added by adding a corresponding response builder.  </li></ul></li>
</ul>

<p><em>Performance: RunModes</em></p>

<p>Server also supports various runmodes optimised for different usage patterns. They can help bring down the runtime costs (majorly when server is operated on shared resources like shared setups/VMs/AWS).</p>

<p><em>Performance: Dynamic Threading</em></p>

<p>Apart from run modes, server can be configured (alongwith) to use dynamic threading. </p>

<ul>
<li>Dynamic Threading improves the response time without impacting the keep-alive time of each request. </li>
<li>It changes the way new worker threads are created in the server. Instead of having only initial (core) worker threads to process all requests even when pending requests are more than what core worker threads can handle at the moment, dynamic threading creates few new threads to increase the request processing speed based on requirement. </li>
<li>Threads <strong>are not</strong> created on each consecutive request. A thread is added only if there are no idle threads available. Additionally created threads, become idle after processing the request and hence next requests do not create new threads, but are processed with the existing ones. The response time improves many folds with this. </li>
<li>Albeit, the improvement in response time, this mechanism utilizes more  <br>
<ul><li>CPU, proportional to the increase in threads and </li>
<li>memory, proportional to the increase in threads.</li></ul></li>
<li>This mechanism can be combined with other run-modes. It performs pretty well with ‘vanilla’ run-mode itself. The performance is superlative when resilient and beast run-modes are used.</li>
</ul>

<p><em>JMX Console</em></p>

<ul>
<li>Important parameters are exposed on JMX for information. These can help in analysing system state.</li>
<li>Some operations are also available via JMX like purging cancelled tasks, switching runmode, changing load factor etc. These can help tweak the server to improve performance.</li>
</ul>

<h2 id="customizations">Customizations</h2>

<p>Following functionality can be customized by updating the configuration:</p>

<ul>
<li>The Request Reader class (implementing IReader interface) is configurable in properties and so can be customized. This reader reads underlying channel and provides data mostly in character based (String) format.</li>
<li>The MultiPart reader class (an implementation of IMultiPartReader interface) is also configurable. This reader reads raw data from the underlying channel and provides binary data blocks to the caller. This is mostly suited when data to be read has a high possibility of being binary data. It can however read data in character based (String) format as well.</li>
<li>The Response Builders own the responsibility of building response content in their exclusive format. Different response builders can be configured for different format of responses desired. The server looks up for a apt builder mapped to a particular format when client sends a formatKey parameter in request. This key is also configurable and defaults to ‘format’.</li>
<li>Headers are parsed from the request data using a concrete implementation of the Headers abstract class. This is configurable and the parsing mechanism can be changed based on need.</li>
<li>The Cache class (implementing the ICache interface) can be configured in properties. This class will be responsible for caching files on server (limited by the maximum cache size configuration) and providing performance improvement.</li>
<li>Handlers for different Request Methods can be configured and their processing mechanism can be altered.</li>
<li>The max size of the Request has been set to 100 MB in configurations and can be customized if needed.</li>
</ul>



<h2 id="extensibility">Extensibility</h2>

<ul>
<li>Apart from the existing OOTB handlers for different Request Methods, new handlers for unimplemented method types can also be added. When the request ‘Method’ is extracted from the request data, a handler class name is looked up in the config. If the method matches with any of the method names in the configurations, the corresponding handler is instantiated and request processing is handed over to the handler. This extensible model allows new request methods to be added very easily.</li>
<li>Further more, instead of having fixed set of properties, each request handler can define its own set of properties which are propagated back to handler instances.</li>
<li>Request and Responses can also be altered using filter pre &amp; post processing of request and responses respectively. Filters can perform pre and post processing of request just like filters in most of the web/app servers. The order of the filter definition is maintained when they are applied.  <br>
<img src="readme_files/request_filtering.jpg" alt="Request Filtering flow" title=""></li>
</ul>



<h2 id="runmodes">RunModes</h2>

<p>Server can be run in different run modes, each having their own benefits and trade offs. </p>

<ol>
<li><h4 id="vanilla">vanilla</h4>

<ul><li>Also the default run-mode if no run-mode is specified. The server runs with constant parameters as mentioned in the config and never deviates from them.</li>
<li>This is the closet to having constant memory and CPU usage even on peak load with delta changes when load peaks constantly. The rate of change however is small, relatively.</li>
<li>This mode is better when the size of the files being handled is small w.r.t the read and write buffer sizes. For example, if small files of size 4KB on average are being handled and the read/write buffers are set to 4KB, then this mode performs well.</li>
<li>This runmode is also better suited for instances where server is required to be used more like a publish instance, which has more GET/HEAD requests, rather than POST/PUT requests.</li></ul></li>
<li><h4 id="beast">beast</h4>

<ul><li>The server run with constant parameters in this mode as well. However, they are not the same as specified in the config, but a superlative form of them. </li>
<li>Parameters are transformed by the supplied transform factor at the start of the server. </li>
<li>Keep-alive is timeout is minimized on heavy load, and disabled on extreme load in this mode. </li>
<li>This runmode is suited if the average file size server has to deal with are relatively large. For example if the average file size is 1MB and configured read/write buffers are 8KB with a transform factor of 8, the request will be read off in a <strong>16 iterations</strong>, as compared to vanilla mode which would take <strong>256 iterations</strong> to read the same file.</li>
<li>This is also suited where the instance is to be used majorly for uploading (PUT/POST) content. The performance is better but as a trade off there is more memory usage (constantly, when server is not idle).</li></ul></li>
<li><h4 id="resilient">resilient</h4>

<ul><li>The server runs with toggling parameters, and keeps altering them based on load, processing queue length and some other factors to determine which mode the server should be running in. </li>
<li>In this mode, server keeps toggling between the ‘Beast’ mode and ‘Vanilla’ mode on need basis.</li>
<li>However, keep-alive is <strong>not</strong> disabled in this mode, unless server is under severe stress. This, however is temporary and keepalive is enabled back when stress reduces on the server. To help galvanise the stress reduction, server switches to beast mode to process requests at a faster pace (during this time server uses more memory). If the incoming request count does not reduce considerably the http keep-alive is disabled, temporarily. This brings down the pseudo-active thread count involved in maintaining keep-alive behaviour (and technically are idle), allowing resources to be shared with the more needy processes. </li>
<li>This runmode is suited for instances where the deviation from the average file size is huge, or if the instance is used as publish (GET) and for uploading (POST/PUT) content. The performance of this runmode lies inbetween ‘vanilla’ and ‘beast’ with more optimized memory usage as compared to ‘beast’.</li></ul></li>
</ol>

<p><em>Note:</em> <br>
    If server is running with a low max heap memory upper bound (max heap memory available &lt;256 MB) and has a runmode enabled which toggles the read and write buffer sizes (which need to increase the memory consumption) as well. In such a case, these parameters are not toggled. <br>
    In essence, only the parameters which do not directly affect the memory usage are toggled (keep-alive time/count).</p>

<p>Comparison of Runmodes: <br>
<img src="readme_images/vanilla.jpg" alt="Vanilla" title=""> <br>
<img src="readme_images/resilient.jpg" alt="Resilient" title=""> <br>
<img src="readme_images/beast.jpg" alt="Beast" title=""> <br>
<img src="readme_images/vanilla-dynamicThreaded.jpg" alt="Vanilla with DynamicThreading" title=""></p>

<h2 id="setting-up-and-running">Setting up and Running</h2>

<p>The server uses maven to </p>

<ul>
<li>compile, </li>
<li>unit test, </li>
<li>integration test, </li>
<li>run perf analysis and </li>
<li>package contents for distribution.</li>
</ul>



<h4 id="setup">Setup</h4>

<p>To set up the source, unzip the distribution zip. Running via Eclipse and command line are mentioned below. </p>

<ul>
<li>To run the <strong>Unit Tests</strong> execute:</li>
</ul>



<pre class="prettyprint"><code class="language-bash hljs ">mvn clean test </code></pre>

<p>-For <strong>skipping</strong> the unit tests, while installing, execute:</p>



<pre class="prettyprint"><code class="language-bash hljs ">mvn clean install -Dskip.unit.tests=<span class="hljs-literal">true</span></code></pre>

<p>A similar property <code>skip.integration.tests</code> also exists for skipping integration tests. Integration tests however, are not run by default as the said property is set to <code>True</code> by default.</p>

<ul>
<li>To run <strong>Integration Tests</strong>, execute:</li>
</ul>



<pre class="prettyprint"><code class="language-bash hljs ">mvn clean verify -P integration-test</code></pre>

<p>The profile integration-test simply sets the property <code>skip.integration.tests</code> to <code>False</code> and <code>skip.unit.tests</code> to <code>True</code>.</p>



<h6 id="running-in-eclipse">Running in Eclipse</h6>

<ol>
<li>Navigate to File -&gt; Import Project</li>
<li>Select Maven Project -&gt; Existing Maven Projects</li>
<li>Browse to the ‘pom.xml’ in the unzipped distribution folder and choose it.</li>
<li>Click Next -&gt; Finish</li>
<li>Once the import completes right-click on the project</li>
<li>Click on ‘Run’ -&gt; Run As Application</li>
<li>Select the ‘main’ file from the list ‘org.rudra.main.ServerManager’ and click Ok.</li>
</ol>



<h6 id="running-via-command-line">Running via Command line</h6>

<ol>
<li>Open a Terminal/Command prompt and navigate to the unzipped folder path.</li>
<li>Navigate to the bin folder which contains a <code>Rudra-WebServer.jar</code>, <code>start.sh</code> and <code>start.bat</code> files. </li>
<li><em>Running on Unix</em>: change the permissions of the start.sh file to have executable rights before it can be run. Execute the following:</li>
</ol>



<pre class="prettyprint"><code class="language-bash hljs ">chmod +x start.sh
./start.sh</code></pre>

<ol>
<li><em>Running on Windows</em>: Execute the start.bat by double clicking on it or running it from the command line as:</li>
</ol>



<pre class="prettyprint"><code class="language-bash hljs ">start.bat</code></pre>



<h4 id="advanced-run">Advanced Run</h4>

<ul>
<li>In advanced run we can tweak jvm options to optimize performance, enable JMX remoting on a port and much more.</li>
<li>Adding Heap limit: <br>
<ul><li>For example, adding -Xmx512m sets an upper limit of available memory to 512 MB. This can be tweaked as per need.</li></ul></li>
<li><p>JMX Remoting</p>

<ul><li><p>To enable JMX remoting add the following parameters to the server startup command.</p>

<blockquote>
  <p>-Dcom.sun.management.jmxremote \ <br>
  -Dcom.sun.management.jmxremote.port=1617 \ <br>
  -Dcom.sun.management.jmxremote.authenticate=false \ <br>
  -Dcom.sun.management.jmxremote.ssl=false \ <br>
  where 1617 is the remote port exposed for JMX clients.</p>
</blockquote></li></ul></li>
</ul>



<h2 id="limitationsassumptions">Limitations/Assumptions</h2>

<ul>
<li>Mime type of a file is determined based on only the file extension.</li>
<li>Only for configured mime types, corresponding mime types are sent in response, for others fall back (application/octet-stream) is used.</li>
<li>Status messages can be generated only for configured Status Codes. For others, only Status Codes will be sent. More status code and status message combinations can be added in the config if need be. The status messages can be further customized in the response, if required.</li>
<li>User Interface (GUI) is minimalistic and has not been tested in detail. It has been sanitized in Firefox (45.0.2). Users are encouraged to develop/test their own UI which can be used to navigate and update the server content. </li>
<li>Invalid/contradictory configuration parameters are handled. Parameters are expected to be in same type as they are mentioned in configuration parameter comments. </li>
</ul>

<h2 id="logging">Logging</h2>

<p>Based on performance and feature evaluation from</p>

<pre><code> - http://www.java-logging.com/comparison/  and  
 - https://www.loggly.com/blog/benchmarking-java-logging-frameworks/
</code></pre>

<ul>
<li>log4j 1.2.17 was chosen for logging.</li>
<li>Access logging is done separately. These access log files have “access”  appended to their filename. The Request Id, requested URL, response code, response representation/information are captured along with the timestamp in the access log.</li>
<li>The configurations for logging are controlled via “log4j.properties” file which should either be available in the classpath or else should be placed along with the server-config.xml.</li>
</ul>

<h2 id="references">References</h2>

<ul>
<li><a href="https://spring.io/tools/sts">Spring Source Tool Suite IDE</a> for development</li>
<li><a href="https://yoxos.eclipsesource.com/yoxos/node/org.eclipse.releng.tools.feature.group">Copyright management</a></li>
<li><a href="https://stackedit.io">ReadMe Editor</a></li>
<li><a href="http://stackoverflow.com/">Stackoverflow, for general issues.</a></li>
<li><a href="http://www.java-logging.com/comparison/">Java Logging comparison 1</a></li>
<li><a href="https://www.loggly.com/blog/benchmarking-java-logging-frameworks/">Java Logging comparison 2</a></li>
</ul>

<hr>

<p>Rudra:- The mightiest of the mighty (<a href="https://en.wikipedia.org/wiki/Rudra">wikipedia</a>)</p>